<style>
.odd { background-color: lightcyan}
.even { background-color: lavenderblush}
</style>

<h2>Your cart</h2>
<div ng-controller="cartSummaryController">
    <div class="alert alert-warning" ng-show="cartData.length == 0">
        There are no products in your shopping cart.
        <a href="#" class="alert-link">Click here to return to the catalogue</a>
    </div>
 
    <div ng-hide="cartData.length == 0">
        <table class="table">
            <tbody>
                <tr ng-repeat-start="item in cartData" ng-class="$odd ? 'odd' : 'even'">
                    <td class="text-left"> Number of items: {{item.count}}</td>
                </tr>
                <tr ng-class="$odd ? 'odd' : 'even'">
                    <td class="text-left"> Item name: {{item.title}}</td>
                </tr>
                <tr ng-class="$odd ? 'odd' : 'even'">
                    <td class="text-left"> Item price: {{item.price | currency}}</td>
                </tr>
                <tr ng-class="$odd ? 'odd' : 'even'">
                    <td class="text-left"> Subtotal: {{ (item.price * item.count) | currency}}</td>
                </tr>
                <tr ng-repeat-end ng-class="$odd ? 'odd' : 'even'">
                    <td>
                        <button ng-click="remove(item.id)"
                                class="btn btn-sm btn-warning">Remove</button>
                    </td>
                </tr>
            </tbody>
            <!--using ng-repeat-start and ng-repeat-end to repeat multiple top-level elements for 
            each data object. I encounter this problem most often when I need to generate multiple 
            table rows for each data item that I am processing—something that is difficult to 
            achieve with ng-repeat because no intermediate elements are allowed between tr 
            elements and their parents. To address this problem, I can use the ng-repeat-start 
            and ng-repeat-end directives -->
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">Total: {{total() | currency}}</td>
                </tr>
            </tfoot>
        </table>
 
        <div class="text-center">
            <a class="btn btn-primary" href="#">Continue shopping</a>
            <a class="btn btn-primary" href="#/placeorder">Place order now</a>
        </div>
    </div>
</div>