
    <head>
        <title>Felix Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <br>
        <div class="bg-info">Welcome to our website!</div>
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="showList">
                    Tick to see the products list
                </label>
            </div>
        </div>    
    </body>

