<!doctype html>
<html ng-app="store">
<head>
    <title>Categories List!</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script src="./controller/store.js"></script>
    <script src="./controller/product.js"></script>
    <script src="./services/storyServices.js"></script>
</head>
<body>
    <div class="container">
        <div class="row margin-top-20">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body" ng-controller="StoreController as store">
                        <div ng-controller="CategoryHighlight" ng-repeat="category in store.categories">    
                            <a ng-click="selectCategory(category)" ng-class="getCategoryClass(category)"> 
                                Category Name: {{ category.title }} </a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                  
                    
                                
    
</body>